[submodule "UIA-v2"]
	path = UIA-v2
	url = https://github.com/Descolada/UIA-v2
[submodule "OCR"]
	path = OCR
	url = https://github.com/Descolada/OCR
[submodule "Acc-v2"]
	path = Acc-v2
	url = https://github.com/Descolada/Acc-v2
